[data-color-mode="dark"] {
    /* --primary-color: #{$dangerColor};
    --primary-color-rgb: #{hex2rgb($dangerColor)}; */
    --link-button-color: var(--primary-light-color);
    --text-color: var(--white100);
    --text-color-secondary: var(--white300);

    --buttonBg: var(--warning-color);

    --surface-ground: #{$gray-700};
    --surface-section: #{$gray-900};
    --surface-card: #{$gray-900};
    --surface-overlay: #{$gray-900};
    --surface-border: #{$gray-800};
    --surface-hover: #{$gray-700};

    --surface-0: #{$black};
    --surface-50: #{$gray-950};
    --surface-100: #{$gray-900};
    --surface-200: #{$gray-800};
    --surface-300: #{$gray-700};
    --surface-400: #{$gray-600};
    --surface-500: #{$gray-500};
    --surface-600: #{$gray-400};
    --surface-700: #{$gray-300};
    --surface-800: #{$gray-200};
    --surface-900: #{$gray-100};

    --gray-50: #{$gray-950};
    --gray-100: #{$gray-900};
    --gray-200: #{$gray-800};
    --gray-300: #{$gray-700};
    --gray-400: #{$gray-600};
    --gray-500: #{$gray-500};
    --gray-600: #{$gray-400};
    --gray-700: #{$gray-300};
    --gray-800: #{$gray-200};
    --gray-900: #{$gray-100};
}
