@use "sass:map";
:root {
    font-size: var(--fontSize);
}

$h1-config: (
    "default": (
        "values": (
            "font-family": var(--fontFamilyHeader),
            "font-size": var(--fontSize-12),
            "line-height": normal,
            "font-weight": var(--fontWeight-700),
            "color": rgb(var(--textColor)),
        ),
    ),
    $medium: (
        "values": (
            "font-size": var(--fontSize-10),
            "line-height": normal,
        ),
    ),
);
$h2-config: (
    "default": (
        "values": (
            "font-family": var(--fontFamilyHeader),
            "font-size": var(--fontSize-9),
            "line-height": normal,
            "font-weight": var(--fontWeight-400),
            "color": rgb(var(--textColor)),
        ),
    ),
);
$h3-config: (
    "default": (
        "values": (
            "font-family": var(--font-family) Header,
            "font-size": var(--fontSize-7),
            "line-height": normal,
            "font-weight": var(--fontWeight-400),
            "color": rgb(var(--textColor)),
        ),
    ),
);
$h4-config: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--fontSize-8),
            "line-height": normal,
            "font-weight": var(--fontWeight-700),
            "color": rgb(var(--textColor)),
        ),
    ),
);

$h5-config: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--fontSize-6),
            "line-height": normal,
            "font-weight": var(--fontWeight-700),
            "text-transform": uppercase,
            "color": rgb(var(--textColor)),
        ),
    ),
);

$h6-config: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--fontSize-4),
            "line-height": normal,
            "font-weight": var(--fontWeight-700),
            "text-transform": uppercase,
            "letter-spacing": 0.2rem,
            "color": rgb(var(--textColor)),
        ),
    ),
);

$p-config: (
    "default": (
        "values": (
            "font-family": var(--font-family),
            "font-size": var(--fontSize-6),
            "line-height": normal,
            "font-weight": var(--fontWeight-400),
            "color": rgb(var(--textColor)),
        ),
    ),
);

$footer-config: (
    "default": (
        "values": (
            "font-size": var(--fontSize-4),
            "line-height": normal,
        ),
    ),
);

h1 {
    @include font-config($h1-config);
}

h2 {
    @include font-config($h2-config);
}

h3 {
    @include font-config($h3-config);
}

h4 {
    @include font-config($h4-config);
}
h5 {
    @include font-config($h5-config);
}
h6 {
    @include font-config($h6-config);
}
ul,
ol {
    padding-left: 1rem;
    li {
        @include font-config($p-config);
    }
}

p {
    @include font-config($p-config);
}

.footer {
    @include font-config($footer-config);
}

// special configs below
