.p-button {
    color: rgb(var(--buttonTextColor));
    background: rgb(var(--buttonBg));
    border: var(--buttonBorder);
    padding: var(--buttonPadding);
    font-size: var(--fontSize);
    transition: var(--formElementTransition);
    border-radius: var(--borderRadius);

    &:enabled:hover {
        background: rgb(var(--buttonHoverBg));
        color: rgb(var(--buttonTextHoverColor));
        border-color: rgb(var(--buttonHoverBorderColor));
    }

    &:enabled:active {
        background: rgb(var(--buttonActiveBg));
        color: rgb(var(--buttonTextActiveColor));
        border-color: rgb(var(--buttonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--buttonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--buttonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--buttonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--buttonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--buttonBg));
            border: var(--outlinedButtonBorder);
        }

        &.p-button-plain {
            color: rgb(var(--plainButtonTextColor));
            border-color: rgb(var(--plainButtonTextColor));

            &:enabled:hover {
                background: rgb(var(--plainButtonHoverBgColor));
                color: rgb(var(--plainButtonTextColor));
            }

            &:enabled:active {
                background: rgb(var(--plainButtonActiveBgColor));
                color: rgb(var(--plainButtonTextColor));
            }
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--buttonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--buttonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--buttonBg));
            border-color: transparent;
        }

        &:enabled:active {
            background: rgba(var(--buttonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--buttonBg));
            border-color: transparent;
        }

        &.p-button-plain {
            color: rgb(var(--plainButtonTextColor));

            &:enabled:hover {
                background: rgb(var(--plainButtonHoverBgColor));
                color: rgb(var(--plainButtonTextColor));
            }

            &:enabled:active {
                background: rgb(var(--plainButtonActiveBgColor));
                color: rgb(var(--plainButtonTextColor));
            }
        }
    }

    &:focus {
        @include focused();
    }

    .p-button-icon-left {
        margin-right: var(--inlineSpacing);
    }

    .p-button-icon-right {
        margin-left: var(--inlineSpacing);
    }

    .p-button-icon-bottom {
        margin-top: var(--inlineSpacing);
    }

    .p-button-icon-top {
        margin-bottom: var(--inlineSpacing);
    }

    .p-badge {
        margin-left: var(--inlineSpacing);
        min-width: var(--fontSize);
        height: var(--fontSize);
        line-height: var(--fontSize);
        color: rgb(var(--buttonBg));
        background-color: rgb(var(--buttonTextColor));
    }

    &.p-button-raised {
        box-shadow: var(--raisedButtonShadow);
    }

    &.p-button-rounded {
        border-radius: var(--roundedButtonBorderRadius);
    }

    &.p-button-icon-only {
        width: var(--buttonIconOnlyWidth);
        padding: var(--buttonIconOnlyPadding);

        .p-button-icon-left,
        .p-button-icon-right {
            margin: 0;
        }

        &.p-button-rounded {
            border-radius: 50%;
            height: var(--buttonIconOnlyWidth);
        }
    }

    &.p-button-sm {
        @include scaledFontSize($fontSize, $scaleSM);
        @include scaledPadding($buttonPadding, $scaleSM);

        .p-button-icon {
            @include scaledFontSize($primeIconFontSize, $scaleSM);
        }
    }

    &.p-button-lg {
        @include scaledFontSize($fontSize, $scaleLG);
        @include scaledPadding($buttonPadding, $scaleLG);

        .p-button-icon {
            @include scaledFontSize($primeIconFontSize, $scaleLG);
        }
    }

    &.p-button-loading-label-only {
        .p-button-label {
            margin-left: var(--inlineSpacing);
        }

        .p-button-loading-icon {
            margin-right: 0;
        }
    }
}

.p-fluid {
    .p-button {
        width: 100%;
    }

    .p-button-icon-only {
        width: var(--buttonIconOnlyWidth);
    }

    .p-buttonset {
        display: flex;

        .p-button {
            flex: 1;
        }
    }
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
    color: rgb(var(--secondaryButtonTextColor));
    background: rgb(var(--secondaryButtonBg));
    border: var(--secondaryButtonBorder);

    &:enabled:hover {
        background: rgb(var(--secondaryButtonHoverBg));
        color: rgb(var(--secondaryButtonTextHoverColor));
        border-color: rgb(var(--secondaryButtonHoverBorderColor));
    }

    &:enabled:focus {
        box-shadow: var(--secondaryButtonFocusShadow);
    }

    &:enabled:active {
        background: rgb(var(--secondaryButtonActiveBg));
        color: rgb(var(--secondaryButtonTextActiveColor));
        border-color: rgb(var(--secondaryButtonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--secondaryButtonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--secondaryButtonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--secondaryButtonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--secondaryButtonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--secondaryButtonBg));
            border: var(--outlinedButtonBorder);
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--secondaryButtonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--secondaryButtonBg), var(--textButtonHoverBgOpacity));
            border-color: transparent;
            color: rgb(var(--secondaryButtonBg));
        }

        &:enabled:active {
            background: rgba(var(--secondaryButtonBg), var(--textButtonActiveBgOpacity));
            border-color: transparent;
            color: rgb(var(--secondaryButtonBg));
        }
    }
}

.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
    color: rgb(var(--infoButtonTextColor));
    background: rgb(var(--infoButtonBg));
    border: var(--infoButtonBorder);

    &:enabled:hover {
        background: rgb(var(--infoButtonHoverBg));
        color: rgb(var(--infoButtonTextHoverColor));
        border-color: rgb(var(--infoButtonHoverBorderColor));
    }

    &:enabled:focus {
        box-shadow: var(--infoButtonFocusShadow);
    }

    &:enabled:active {
        background: rgb(var(--infoButtonActiveBg));
        color: rgb(var(--infoButtonTextActiveColor));
        border-color: rgb(var(--infoButtonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--infoButtonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--infoButtonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--infoButtonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--infoButtonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--infoButtonBg));
            border: var(--outlinedButtonBorder);
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--infoButtonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--infoButtonBg), var(--textButtonHoverBgOpacity));
            border-color: transparent;
            color: rgb(var(--infoButtonBg));
        }

        &:enabled:active {
            background: rgba(var(--infoButtonBg), var(--textButtonActiveBgOpacity));
            border-color: transparent;
            color: rgb(var(--infoButtonBg));
        }
    }
}

.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
    color: rgb(var(--successButtonTextColor));
    background: rgb(var(--successButtonBg));
    border: var(--successButtonBorder);

    &:enabled:hover {
        background: rgb(var(--successButtonHoverBg));
        color: rgb(var(--successButtonTextHoverColor));
        border-color: rgb(var(--successButtonHoverBorderColor));
    }

    &:enabled:focus {
        box-shadow: var(--successButtonFocusShadow);
    }

    &:enabled:active {
        background: rgb(var(--successButtonActiveBg));
        color: rgb(var(--successButtonTextActiveColor));
        border-color: rgb(var(--successButtonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--successButtonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--successButtonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--successButtonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--successButtonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--successButtonBg));
            border: var(--outlinedButtonBorder);
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--successButtonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--successButtonBg), var(--textButtonHoverBgOpacity));
            border-color: transparent;
            color: rgb(var(--successButtonBg));
        }

        &:enabled:active {
            background: rgba(var(--successButtonBg), var(--textButtonActiveBgOpacity));
            border-color: transparent;
            color: rgb(var(--successButtonBg));
        }
    }
}

.p-button.p-button-warning,
.p-buttonset.p-button-warning > .p-button,
.p-splitbutton.p-button-warning > .p-button {
    color: rgb(var(--warningButtonTextColor));
    background: rgb(var(--warningButtonBg));
    border: var(--warningButtonBorder);

    &:enabled:hover {
        background: rgb(var(--warningButtonHoverBg));
        color: rgb(var(--warningButtonTextHoverColor));
        border-color: rgb(var(--warningButtonHoverBorderColor));
    }

    &:enabled:focus {
        box-shadow: var(--warningButtonFocusShadow);
    }

    &:enabled:active {
        background: rgb(var(--warningButtonActiveBg));
        color: rgb(var(--warningButtonTextActiveColor));
        border-color: rgb(var(--warningButtonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--warningButtonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--warningButtonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--warningButtonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--warningButtonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--warningButtonBg));
            border: var(--outlinedButtonBorder);
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--warningButtonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--warningButtonBg), var(--textButtonHoverBgOpacity));
            border-color: transparent;
            color: rgb(var(--warningButtonBg));
        }

        &:enabled:active {
            background: rgba(var(--warningButtonBg), var(--textButtonActiveBgOpacity));
            border-color: transparent;
            color: rgb(var(--warningButtonBg));
        }
    }
}

.p-button.p-button-help,
.p-buttonset.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button {
    color: rgb(var(--helpButtonTextColor));
    background: rgb(var(--helpButtonBg));
    border: var(--helpButtonBorder);

    &:enabled:hover {
        background: rgb(var(--helpButtonHoverBg));
        color: rgb(var(--helpButtonTextHoverColor));
        border-color: rgb(var(--helpButtonHoverBorderColor));
    }

    &:enabled:focus {
        box-shadow: var(--helpButtonFocusShadow);
    }

    &:enabled:active {
        background: rgb(var(--helpButtonActiveBg));
        color: rgb(var(--helpButtonTextActiveColor));
        border-color: rgb(var(--helpButtonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--helpButtonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--helpButtonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--helpButtonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--helpButtonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--helpButtonBg));
            border: var(--outlinedButtonBorder);
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--helpButtonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--helpButtonBg), var(--textButtonHoverBgOpacity));
            border-color: transparent;
            color: rgb(var(--helpButtonBg));
        }

        &:enabled:active {
            background: rgba(var(--helpButtonBg), var(--textButtonActiveBgOpacity));
            border-color: transparent;
            color: rgb(var(--helpButtonBg));
        }
    }
}

.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
    color: rgb(var(--dangerButtonTextColor));
    background: rgb(var(--dangerButtonBg));
    border: var(--dangerButtonBorder);

    &:enabled:hover {
        background: rgb(var(--dangerButtonHoverBg));
        color: rgb(var(--dangerButtonTextHoverColor));
        border-color: rgb(var(--dangerButtonHoverBorderColor));
    }

    &:enabled:focus {
        box-shadow: var(--dangerButtonFocusShadow);
    }

    &:enabled:active {
        background: rgb(var(--dangerButtonActiveBg));
        color: rgb(var(--dangerButtonTextActiveColor));
        border-color: rgb(var(--dangerButtonActiveBorderColor));
    }

    &.p-button-outlined {
        background-color: transparent;
        color: rgb(var(--dangerButtonBg));
        border: var(--outlinedButtonBorder);

        &:enabled:hover {
            background: rgba(var(--dangerButtonBg), var(--textButtonHoverBgOpacity));
            color: rgb(var(--dangerButtonBg));
            border: var(--outlinedButtonBorder);
        }

        &:enabled:active {
            background: rgba(var(--dangerButtonBg), var(--textButtonActiveBgOpacity));
            color: rgb(var(--dangerButtonBg));
            border: var(--outlinedButtonBorder);
        }
    }

    &.p-button-text {
        background-color: transparent;
        color: rgb(var(--dangerButtonBg));
        border-color: transparent;

        &:enabled:hover {
            background: rgba(var(--dangerButtonBg), var(--textButtonHoverBgOpacity));
            border-color: transparent;
            color: rgb(var(--dangerButtonBg));
        }

        &:enabled:active {
            background: rgba(var(--dangerButtonBg), var(--textButtonActiveBgOpacity));
            border-color: transparent;
            color: rgb(var(--dangerButtonBg));
        }
    }
}

.p-button.p-button-link {
    color: rgb(var(--linkButtonColor));
    background: transparent;
    border: transparent;

    &:enabled:hover {
        background: transparent;
        color: rgb(var(--linkButtonHoverColor));
        border-color: transparent;

        .p-button-label {
            text-decoration: var(--linkButtonTextHoverDecoration);
        }
    }

    &:enabled:focus {
        background: transparent;
        box-shadow: var(--linkButtonFocusShadow);
        border-color: transparent;
    }

    &:enabled:active {
        background: transparent;
        color: rgb(var(--linkButtonColor));
        border-color: transparent;
    }
}
